@font-face {
  font-family: 'Spartan';
  font-style: medium;
  font-weight: 500;
  src: local('Spartan Medium'), url('./Spartan-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Spartan';
  font-style: bold;
  font-weight: 700;
  src: local('Spartan Bold'), url('./Spartan-Bold.ttf') format('truetype');
}
